body{
	/*select image*/
	background-image: url("image/bg.jpg");
	
	/*options*/
	background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
      /* The image used */
    



}
.my_row{
	/*border: 3px solid blue;*/
	height: auto;
}
.my_row2{
	/*border: 3px solid blue;*/
	height: 100px;
	width: auto;

}
.my_col1{
	/*border: 3px solid black;*/
	background-color: #222d32;

}
.my_row1{
/*	border: 3px solid blue;*/

	background-color: #222d32;
	height: 60px;
	}
.monitor{
	float: left;

	width: 44vw;
	height: 25vw;
		
}
.logo{
	float: left;
	height: 50px;
	padding: 5px;
}
.amertrontext{
	float: left;
	color: white;
	padding-top: 18px;	
	font-family: Arial, sans-serif;
}
h3{
	color: white;
	text-align: center;
	font-weight: bold;
}


.message{
	width: 10vw;
}


.machinepicture{
	width: 160px;
	height: 250px;
	margin-right: auto;
}


.textbutton{
	text-align: center;
	color: white;
	font-weight: bold
}

table.scrolldown { 
            width: 100%; 

              
            /* border-collapse: collapse; */ 
            border-spacing: 0; 
          
        } 
          
        /* To display the block as level element */ 
        table.scrolldown tbody, table.scrolldown thead { 
            display: block; 
        }  
          
        thead tr th { 
            height: 40px;  
            line-height: 40px; 
        } 
          
        table.scrolldown tbody { 
              
            /* Set the height of table body */ 
            height: 10vw;  
              
            /* Set vertical scroll */ 
            overflow-y: auto; 
              
            /* Hide the horizontal scroll */ 
            overflow-x: hidden;  
        } 
          
        tbody {  
            
        } 
          
        tbody td, thead th { 
            width : 15vw; 
            color: white;
           
        } 
        td{ 
            text-align:left; 
            font-size: 14px;
        }


.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

 